/* style.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #00000000;
}

.cv {
    background-color: rgb(250 252 251);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(190 210 196 / 10%);
}

h1 {
    color: #143cff;
    text-align: center;
    margin-bottom: 20px;
}

.photo {
    text-align: center;
    margin: 20px 0;
}

.photo img {
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.block {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d8baba;
}

h2 {
    color: #15b321;
    margin-bottom: 10px;
    font-size: 1.2em;
}

ul {
    padding-left: 20px;
}

.code {
    background-color: #0a71f4;
    padding: 10px;
    border-radius: 3px;
    font-family: monospace;
    overflow-x: auto;
}